<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Asistencia</title>
    <link rel="stylesheet" href="/src/assets/css/inicio.css">
</head>
<body>
    <nav id="barra-lateral">
        <img src="/src/assets/img/logo-insnsb.png" alt="Logo INSNSB" width="250px">
        <button id="mostrar1">Listar Asistencia</button>
        <button id="mostrar2">Turnos</button>
        <button id="mostrar3">Listar Empleados</button>
    </nav>
    <script src="/src/assets/js/inicio.js"></script>
</body>
</html>