/* Estilos para la barra lateral */
#barra-lateral {
    position: fixed; /* Hace que la barra lateral sea fija */
    top: 0;
    left: 0;
    height: 100%; /* Ocupa todo el alto de la pantalla */
    width: 250px; /* Ancho de la barra lateral */
    background-color: #888; /* Color de fondo gris */
    padding: 20px; /* Espaciado interior */
}

#barra-lateral img {
    width: 100%; /* Ajusta la imagen al ancho de la barra lateral */
}


/* Estilos para los botones */
#barra-lateral button {
    display: block;
    margin: 10px 0; /* Espacio entre botones */
    padding: 10px 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    background-color: #f5f5f5; /* Color de fondo gris casi blanco */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s, border 0.3s, color 0.3s; /* Transiciones suaves */
}

#barra-lateral button:hover {
    background-color: #ccc; /* Color de fondo gris claro al pasar el mouse */
    color: #222; /* Color del texto más oscuro al pasar el mouse */
}
